html, body {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1030;
}

#content-wrapper {
    height: 100vh;
    overflow-y: auto;
    margin-left: 14rem;
}

body.sidebar-toggled #content-wrapper {
    margin-left: 6.5rem;
}
